# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules/
/website/algo-beats/node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/website/algo-beats/.next/
/out/

# production
/website/algo-beats/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/website/algo-beats/.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
