/* src/styles/navbar/navbar.css */

.dropdown {
	position: relative;
}

.dropdown ul {
	display: none;
	/* Hide the dropdown by default */
	position: absolute;
	background-color: white;
	width: 13rem;
	right: 0;
	/* Adjust based on alignment */
	/* Adjust space between dropdown and parent */
	padding: 0;
	list-style: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown:hover ul {
	display: block;
	/* Show the dropdown when hovering over the parent */
}

.dropdown ul li {
	padding: 0.5rem;
	font-size: 15px;
}

.dropdown ul li:hover {
	color: #0070f3;
	/* Adjust color on hover */
}